{% extends "core.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% block main %}
    <h1>Developed</h1>
    {{ onsAccordion({
        "id": "accordion-example",
        "itemsList": [
            {
                "title": "More info",
                "content": "<p>Enter details about whether the project was developed in-house, outsourced or in partnership with another company.</p>"
            }
        ]
    }) }}
    <form action="{{ url_for('survey') }}" method="GET">
        {{ onsLabel({
            "id": 'developed-label',
            "for": "developed",
            "text": 'Where was this Software Developed?',
            "description": 'Select the option that best describes how the project was developed.'
        }) }}
        {% call onsQuestion({
            "classes": "ons-u-mt-no",
            "legendIsQuestionTitle": true
        }) %}
        {{ onsRadios({
            "dontWrap": true,
            "name": "developed",
            "radios": [
                {
                    "id": "in-house",
                    "label": {
                        "text": "In House",
                        "description": "Developed internally by your own team"
                    },
                    "value": "In House"
                },
                {
                    "id": "outsourced",
                    "label": {
                        "text": "Outsourced",
                        "description": "Developed by an external company"
                    },
                    "value": "Outsourced",
                    "other": {
                        "id": "outsourced",
                        "name": "other",
                        "label": {
                            "text": "Outsource Company"
                        }
                    }
                },
                {
                    "id": "partnership",
                    "label": {
                        "text": "Partnership",
                        "description": "Developed in collaboration with another company"
                    },
                    "value": "Partnership",
                    "other": {
                        "id": "partnership",
                        "name": "other",
                        "label": {
                            "text": "Partnership Company"
                        }
                    }
                }
            ]
        }) }}
        {% endcall %}
        <script src="{{ url_for('static', filename='formScripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/developed.js') }}"></script>
        {{ onsButton({

        "id": "save-values-button",
        "url": url_for('stage'),
        "text": "Save and continue",
        "attributes": {
            "onclick": "storeData();"
        }
    }) }}
</form>
{% endblock %}