{% extends "core.html" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% block main %}
    <h1>Project Details</h1>
    {{ onsAccordion({
        "id": "project-details-accordion",
        "itemsList": [
            {
                "title": "More info",
                "content": "<p>Enter the following information about the project:</p>
                <b>Programme name</b>
                <p>The full unabbreviated name of your programme, e.g. Statistical Production Platform.</p>
                <b>Programme short name</b>
                <p>The commonly used abbreviation or acronym associated with the programme, e.g. SPP.</p>
                <b>Project name</b>
                <p>The full unabbreviated name of your project, e.g. Results Data Processing.</p>
                <b>Shortened Project Name</b>
                <p>The commonly used abbreviation or acronym associated with the project, e.g. RDP.</p>
                <b>Documentation link</b>
                <p>A high level overview of the project and solution, or the homepage for such documentation.</p>
                <b>Project Description</b>
                <p>A concise overview of your project that offers a clear understanding for both technical and non-technical stakeholders.</p>
                <p>A good description will cover:</p>
                    <li>The <b>purpose</b> of the project (what problem it solves or value it provides).</li>
                    <li>What the project <b>implements</b> (its key features or functionality).</li>
                    <li>The main <b>consumers</b> of the project (end users, other teams, or systems).</li><br>"
            }
        ]
    }) }}
    <form action="{{ url_for('survey') }}" method="GET">
                {{ onsInput({
        "id": "programme-name",
        "label": {
            "text": "What is the name of the programme?",
            "description": "The full unabbreviated name of your programme, e.g. Statistical Production Platform."
        },
        
    }) }}
        {{ onsInput({
        "id": "programme-short-name",
        "label": {
            "text": "What is the short name of the programme?",
            "description": "The commonly used abbreviation or acronym associated with the programme, e.g. SPP."
        }
    }) }}
        {{ onsInput({
        "id": "project-name",
        "label": {
            "text": "What is the name of the project?",
            "description": "The full unabbreviated name of your project, e.g. Results Data Processing."
        },
        
    }) }}
        {{ onsInput({
        "id": "project-short-name",
        "label": {
            "text": "What is the short name of the project?",
            "description": "The commonly used abbreviation or acronym associated with the project, e.g. RDP."
        }
    }) }}
        {{ onsInput({
        "id": "documentation-link",
        "label": {
            "text": "Is there a link to the documentation for this project?",
            "description": "A high level overview of the project and solution, or the homepage for such documentation."
        }
    }) }}
        {{ onsTextarea({
        "id": "project-description",
        "name": "feedback-limited",
        "width": "30",
        "label": {
            "text": "Project Description",
            "description": "What is the project about? What are the projects aims and objectives?"
        },
        "charCheckLimit": {
            "limit": 1000,
            "charCountSingular": "You have {x} character remaining",
            "charCountPlural": "You have {x} characters remaining"
        }
    }) }}
        {% call onsQuestion({
        "classes": "ons-u-mt-no",
        "legendIsQuestionTitle": true
    }) %}
        {% endcall %}
        <script src="{{ url_for('static', filename='formScripts.js') }}"></script>
        {{ onsButton({
        "id": "save-values-button",
        "text": "Save and continue",
        "url": url_for('developed'),
        "attributes": {
            "onclick": "storeData();"
        }
    }) }}
        <script>
            function storeData() { // Store Details about project in local storage
                var project_name = document.getElementById('project-name').value;
                var project_short_name = document.getElementById('project-short-name').value;
                var project_description = document.getElementById('project-description').value;
                var doc_link = document.getElementById('documentation-link').value;
                var programme_name = document.getElementById('programme-name').value;
                var programme_short_name = document.getElementById('programme-short-name').value;
                var data = {
                    "programme_name": programme_name,
                    "programme_short_name": programme_short_name,
                    "name": project_name,
                    "short_name": project_short_name,
                    "project_description": project_description,
                    "documentation_link": doc_link,
                    "complete": project_name.trim() !== ''
                };
                var name = 'project-data'
                if (JSON.parse(localStorage.getItem('edit'))) {
                    name = 'project-data-edit'
                }
                localStorage.setItem(name, JSON.stringify(data));
            }
            function loadData() {
                var name = 'project-data';
                if (JSON.parse(localStorage.getItem('edit'))){
                    name = name + '-edit';
                }
                    var data = JSON.parse(localStorage.getItem(name));
                    if (data) {
                        document.getElementById('project-name').value = data.name;
                        document.getElementById('project-short-name').value = data.short_name;
                        document.getElementById('documentation-link').value = data.documentation_link;
                        document.getElementById('project-description').value = data.project_description;
                        document.getElementById('programme-name').value = data.programme_name;
                        document.getElementById('programme-short-name').value = data.programme_short_name;
                    }
            
            }
            redirectToPrevious();
            loadData();
        </script>
    </form>
{% endblock %}