{% extends "core.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% block main %}
    <h1>Project Stage</h1>
    {{ onsAccordion({
        "id": "stage-accordion",
        "itemsList": [
            {
                "title": "More info",
                "content": "<b>Development</b>
                            <p>The software is being designed, coded, and tested before release.</p>

                            <b>Active Support</b>
                            <p>The software is released and receives regular updates, bug fixes, and feature enhancements.</p>

                            <b>Unsupported</b>
                            <p>The software no longer receives updates, fixes, or official assistance.</p>"
            }
        ]
    }) }}
    <form action="{{ url_for('survey') }}" method="GET">
        {{ onsLabel({
            "id": 'developed-label',
            "for": "developed",
            "text": 'What stage is the project at?',
            "description": 'Select the option that best describes the stage of the project.'
        }) }}
        {% call onsQuestion({
            "classes": "ons-u-mt-no",
            "legendIsQuestionTitle": true
        }) %}
        {{ onsRadios({
            "dontWrap": true,
            "name": "stage",
            "radios": [
                {
                    "id": "Development",
                    "label": {
                        "text": "Development",
                        "description": "The software is being designed, coded, and tested before release"
                    },
                    "value": "Development"
                },
                {
                    "id": "Active Support",
                    "label": {
                        "text": "Active Support",
                        "description": "The software is released and receives regular updates, bug fixes, and feature enhancements"
                    },
                    "value": "Active Support"
                },
                {
                    "id": "Unsupported",
                    "label": {
                        "text": "Unsupported",
                        "description": "The software no longer receives updates, fixes, or official assistance"
                    },
                    "value": "Unsupported"
                }
            ]
        }) }}
        {% endcall %}
        <script src="{{ url_for('static', filename='formScripts.js') }}"></script>
        {{ onsButton({
            "id": "save-values-button",
            "url": url_for('project_dependencies'),
            "text": "Save and continue",
            "attributes": {
                "onclick": "storeData();"
            }
        }) }}
        <script>
            function storeData() {
                var stage = document.querySelector('input[name="stage"]:checked').value;
                var complete = true;
                var data = {
                    "stage": stage,
                    "complete": complete
                };
                var name = 'stage-data';
                if (JSON.parse(localStorage.getItem('edit'))) {
                    name = 'stage-data-edit';
                }
                localStorage.setItem(name, JSON.stringify(data));
            }
            function loadData() {
                var name = 'stage-data';
                if (JSON.parse(localStorage.getItem('edit'))){
                    let name = 'stage-data-edit';

                    var data = JSON.parse(localStorage.getItem(name));
                    if (data) {
                        document.getElementById(data.stage).checked = true;
                    }
                } else {
                    var data = JSON.parse(localStorage.getItem(name));
                    if (data) {
                        document.getElementById(data.stage).checked = true;
                    }
                }
            }
            redirectToPrevious();
            loadData();
        </script>
    </form>
{% endblock %}