{% extends "core.html" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% block main %}
    <h1 class="ons-u-mt-m">Code and Architecture Summary</h1>
    {{ onsSummary({
            "variant": "hub",
            "classes": "ons-u-mt-m",
            "summaries": [
                {
                    "groups": [
                        {
                            "rows": [
                                {
                                    "rowTitle": "Source Control",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "<div id='source_control_details'></div>"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for People who live here",
                                                    "url": url_for('source_control'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Hosting",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                            {
                                                "text": "<div id='hosting_details'></div>"
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Household accommodation",
                                                    "url": url_for('hosting')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Database",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                            {
                                                "text": "<div id='database_details'></div>"
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('database')
                                                }
                                            ]
                                        }
                                    ]
                                },
 
                            ]
                        }
                    ]
                }
            ]
        }) }}
<script src="{{ url_for('static', filename='formScripts.js') }}"></script>
    <input id="user" type="hidden" name="user">
        <input id="project" type="hidden" name="project">
            <input id="developed" type="hidden" name="developed">
        {{ onsButton({
            "text": 'Finish section',
            "id": "submit-button",
            "url": url_for('survey'),
            "classes": 'ons-u-mb-m ons-u-mt-l',
            "iconType": "check",
            "iconPosition": "after"
        }) }}
                <script>
                    function load_data() {
                        var sourceControlData = localStorage.getItem('source_control-data');
                        var hostingData = localStorage.getItem('hosting-data');
                        var databaseData = localStorage.getItem('database-data');
                        var hostingJSON = JSON.parse(hostingData);

                        try {
                            if (hostingJSON.type === 'Hybrid' || hostingJSON.type === 'Cloud') {
                                if (hostingJSON.others.length === 0) {
                                    // No error
                                }
                            }
                            if (sourceControlData === null || JSON.parse(databaseData).length === 0 || hostingJSON.type === null) {
                                // No error
                            }
                        } catch (e) {
                            // No error
                        }
                        try {
                            var sourceControlDataJSON = JSON.parse(sourceControlData);
                            var sourceType = sourceControlDataJSON.source_control;
                            var source_control_links_label = sourceControlDataJSON.links && sourceControlDataJSON.links.length > 0 ? '': 'No links added to project.';
                            var source_control = `${sourceType}<br>${source_control_links_label}${sourceControlDataJSON.links.map(link => `${link.description}: ${link.url}`).join(', ')}`;
                            document.getElementById('source_control_details').innerHTML = source_control;
                        } catch (e) {
                            // No error
                        }

                        try {
                            var databaseDataJSON = JSON.parse(databaseData);
                            if (databaseDataJSON.others.length === 0) {
                                // No error
                            }
                            var database_details = `${databaseDataJSON.others.map(item => `${item}`).join(', ')}`;
                            document.getElementById('database_details').innerHTML = database_details;
                        } catch (e) {
                            // No error
                        }

                        try {
                            var hosting_details = `${hostingJSON.type}<br>${hostingJSON.others.map(item => `${item}`).join(', ')}`
                            document.getElementById('hosting_details').innerHTML = hosting_details;
                        } catch (e) {
                            // No error
                        }
                        
                        if (errorList.length > 0) {
                            errorPanel.classList.remove('ons-u-hidden');
                            document.getElementById('error-label').innerHTML = 'Please fill in the following sections: ' + errorList.join(', ');
                        }
                    }
                    load_data();
                </script>
            {% endblock %}
            {% block scripts %}
                <style>
                    body {
                        height: auto;
                    }
                </style>
            {% endblock %}