{% extends "core.html" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/button/_macro.njk" import onsButton %}
{% block main %}
    {% call onsPanel({
        "id": "error-panel",
        "title": 'Error',
        "variant": 'error',
        "type": "error",
        "classes": "ons-u-hidden"
    }) %}
    {{ onsLabel({
        "id": 'error-label',
        "for": "error-label",
        "text": 'Please fill in missing data'
    }) }}
    {% endcall %}
    <h1 class="ons-u-mt-m">Project Details Summary</h1>
    {{ onsSummary({
            "variant": "hub",
            "classes": "ons-u-mt-m",
            "summaries": [
                {
                    "groups": [
                        {
                            "rows": [
                                {   
                                    "id": "user_details",
                                    "title": "Contact",
                                    "itemsList": [
                                        {   

                                            "valueList": [
                                                {
                                                    "text": ""
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for People who live here",
                                                    "url": url_for('contact_tech'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id": "project-details",
                                    "title": "Project",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Household accommodation",
                                                    "url": url_for('project')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id": "developed-details",
                                    "title": "Developed",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('developed')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id": "stage-details",
                                    "title": "Stage",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('stage')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id": "project-dependencies-details",
                                    "title": "Project Dependencies",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Project Dependencies",
                                                    "url": url_for('project_dependencies')
                                                }
                                            ]
                                        }
                                    ]
                                },
 
                            ]
                        }
                    ]
                }
            ]
        }) }}
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <input id="user" type="hidden" name="user">
    <input id="project" type="hidden" name="project">
    <input id="developed" type="hidden" name="developed">
    <input id="stage" type="hidden" name="stage">
    {{ onsButton({
        "text": 'Finish section',
        "id": "submit-button-btn",
        "url": url_for('survey'),
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "iconType": "check",
        "iconPosition": "after"
    }) }}
{% endblock %}