{% extends "core.html" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% block main %}
    <h1 class="ons-u-mt-m">Supporting Tools Summary</h1>
    {{ onsSummary({
            "variant": "hub",
            "classes": "ons-u-mt-m",
            "summaries": [
                {
                    "groups": [
                        {
                            "rows": [
                                {
                                    "id":"code_editor_details",
                                    "title": "Code Editors",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": ""
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for People who live here",
                                                    "url": url_for('code_editors'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"user_interface_details",
                                    "title": "User Interface",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Household accommodation",
                                                    "url": url_for('user_interface')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"diagram_details",
                                    "title": "Diagrams",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('diagramming_tools')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"project_tracking_details",
                                    "title": "Project Tracking",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('project_tracking')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"documentation_details",
                                    "title": "Documentation",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('documentation')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"communication_details",
                                    "title": "Communication",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('communication')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"collaboration_details",
                                    "title": "Collaboration",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('collaboration')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"incident_management_details",
                                    "title": "Incident Management",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('incident_management')
                                                }
                                            ]
                                        }
                                    ]
                                },                                {
                                    "rowTitle": "Miscellaneous",
                                    "rowItems": [
                                    {
                                        "valueList": [
                                        {
                                            "text": "<div id='miscellaneous_details'></div>"
                                        }
                                    ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "View answers for Mary Smith",
                                                "url": url_for('miscellaneous')
                                            }
                                        ]
                                    }
                                ]
                            }
                            ]
                        }
                    ]
                }
            ]
        }) }}
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
    {{ onsButton({
        "text": 'Finish section',
        "id": "submit-button-btn",
        "url": url_for('survey'),
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "iconType": "check",
        "iconPosition": "after"
    }) }}
{% endblock %}