{% extends "core.html" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% block main %}
    <h1 class="ons-u-mt-m">Technology Details Summary</h1>
    {{ onsSummary({
            "variant": "hub",
            "classes": "ons-u-mt-m",
            "summaries": [
                {
                    "groups": [
                        {
                            "rows": [
                                {
                                    "id":"languages_details",
                                    "title": "Languages",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": ""
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for People who live here",
                                                    "url": url_for('languages'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"framework_details",
                                    "title": "Frameworks",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Household accommodation",
                                                    "url": url_for('frameworks')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"integration_details",
                                    "title": "CI/CD",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('integrations')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"infrastructure_details",
                                    "title": "Infrastructure",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('infrastructure')
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }) }}
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
    {{ onsButton({
        "text": 'Finish section',
        "id": "submit-button-btn",
        "url": url_for('survey'),
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "iconType": "check",
        "iconPosition": "after"
    }) }}
{% endblock %}