{% extends "core.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% block main %}
    {% from "components/panel/_macro.njk" import onsPanel %}
    {% from "components/list/_macro.njk" import onsList %}
    {% call onsPanel({
        "id": "error-panel",
        "title": 'Error',
        "variant": 'error',
        "type": "error",
        "classes": "ons-u-hidden"

    }) %}
    {{ onsLabel({
        "id": 'label',
        "for": "some-input",
        "text": 'Item already added.'
    }) }}
    {% endcall %}
    <br>
        <h1>Environments</h1>
        {{ onsAccordion({
        "id": "environments-information",
        "itemsList": [
            {
                "title": "More info",
                "content": "<p>Please list the environments used in your project (If the project is using sandbox > staging > production, then pre-prod for staging is acceptable.):</p>
                            <ul><li>Dev (sandbox)</li>
                            <li>INT</li>
                            <li>UAT</li>
                            <li>Pre-Prod (staging)</li>
                            <li>Prod</li>
                            <li>Post-Prod</li></ul>
                        "
            }
        ]
    }) }}
            <script src="{{ url_for('static', filename='formScripts.js') }}"></script>
            <form id="environments" action="{{ url_for('survey') }}" method="GET">
                {%
                    call onsQuestion({
                        "title": "What environments are in use for the project?",
                        "legendIsQuestionTitle": true,
                        "classes": "ons-u-mt-no"
                    })
                %}
                    {{
                        onsCheckboxes({
                            "checkboxesLabel": "Select all that apply",
                            "dontWrap": true,
                            "checkboxes": [
                                {
                                    "id": "dev",
                                    "label": {
                                        "text": "DEV"
                                    },
                                    "value": "dev"
                                },
                                {
                                    "id": "int",
                                    "label": {
                                        "text": "INT"
                                    },
                                    "value": "int"
                                },
                                {
                                    "id": "uat",
                                    "label": {
                                        "text": "UAT"
                                    },
                                    "value": "uat"
                                },
                                {
                                    "id": "preprod",
                                    "label": {
                                        "text": "PRE-PROD (STAGING)"
                                    },
                                    "value": "preprod"
                                },
                                {
                                    "id": "prod",
                                    "label": {
                                        "text": "PROD"
                                    },
                                    "value": "prod"
                                },
                                {
                                    "id": "postprod",
                                    "label": {
                                        "text": "POST-PROD"
                                    },
                                    "value": "postprod"
                                },
                            ]
                        })
                    }}
                {% endcall %}
                
                {{ onsButton({
                            "id": "save-values-button",
                            "url": url_for('infrastructure'),
                            "text": "Save and continue",
                            "iconType": "arrow-next",
                            "iconPosition": "after",
                            "attributes": {
                                "onclick": "storeData();"
                            }
                        }) }}

                        <script>
                            function storeData() { 
                                // Store data about environments in local storage
                                // Get the values of the checkboxes
                                // and set the complete flag to true
                                var dev = document.getElementById('dev').checked
                                var int = document.getElementById('int').checked
                                var uat = document.getElementById('uat').checked
                                var preprod = document.getElementById('preprod').checked
                                var prod = document.getElementById('prod').checked
                                var postprod = document.getElementById('postprod').checked
                                var newData = {
                                    "dev": dev,
                                    "int": int,
                                    "uat": uat,
                                    "preprod": preprod,
                                    "prod": prod,
                                    "postprod": postprod,
                                };

                                
                                var name = 'environments-data';
                                if (JSON.parse(localStorage.getItem('edit'))) {
                                    name = 'environments-data-edit';
                                }
                                var existingData = JSON.parse(localStorage.getItem(name)) || {};
                                // Merge new data with existing data
                                var updatedData = {
                                    ... existingData,
                                    ... newData
                                };
                                localStorage.setItem(name, JSON.stringify(updatedData));
                            }
                            function loadData() {
                                var name = 'environments-data';
                                if (JSON.parse(localStorage.getItem('edit'))) {
                                    name = 'environments-data-edit';
                                }
                                    var data = JSON.parse(localStorage.getItem(name));
                                    if (data) {
                                        var options = ['dev', 'int', 'uat', 'preprod', 'prod', 'postprod'];
                                        options.forEach(function(option) {
                                            if (data[option]) {
                                                document.getElementById(option).checked = true;
                                            } else {
                                                document.getElementById(option).checked = false;
                                            }
                                        });
                                    }
                                
                            }
                            loadData();
                        </script>
            </form>
        {% endblock %}