{% extends "layout/_template.njk" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/label/_macro.njk" import onsLabel %}

{%
    set pageConfig = {
        "header": {
            "title": "Create a project",
            "signoutButton": {
                "text": "Save and sign out",
                "url": "/sign-out"
            }
        },
        "breadcrumbs": {
            "itemsList": [
{
                    "url": '/pre-survey/technology',
                    "text": 'Technology Details'
                },
                {
                    "url": '/survey/languages',
                    "text": 'Languages'
                },
                {
                    "url": '/survey/frameworks',
                    "text": 'Frameworks'
                },
                {
                    "url": '/survey/integrations',
                    "text": 'Integrations'
                }
            ]
        },
              "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
    }
%}
{% block main %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/list/_macro.njk" import onsList %}
{%
    call onsPanel({
        "id": "error-panel",
        "title": 'Error',
        "variant": 'error',
        "type": "error",
    })
%}

{{
    onsLabel({
        "id": 'label',
        "for": "some-input",
        "text": 'Item already added.'
    })
}}
{% endcall %}
<br>


<h1>Infrastructure</h1>

{{
    onsAccordion({
        "id": "accordion-example",
        "itemsList": [
            {
                "title": "More info",
                "content": "<p>Enter details about the project's infrastructure such as Cognito, Secret Manager etc.</p>"
            }
        ]
    })
}}
    {{ onsAutosuggest({
        "id": "infrastructure-input",
        "input": {
            "label": {
                "text": "What infrastructure is used in the project?",
                "description": "Enter your own answer or select from suggestions",
            },
            "autocomplete": "on",
            "id": "infrastructures-input",
            "class": "item-inputs",
            "attributes": {
                "onsubmit": "Enter infrastructure",
            },
            "searchButton": {
                "visuallyHideButtonText": true,
                "text": 'Search',
                "iconType": 'check',
                "attributes": {
                    "onclick": "addData()"
                }
            }
        },
        "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
        "ariaYouHaveSelected": "You have selected",
        "ariaMinChars": "Enter 3 or more characters for suggestions.",
        "ariaOneResult": "There is one suggestion available.",
        "ariaNResults": "There are {n} suggestions available.",
        "ariaLimitedResults": "Results have been limited to 10 suggestions. Type more characters to improve your search",
        "moreResults": "Continue entering to improve suggestions",
        "resultsTitle": "Suggestions",
        "resultsTitleId": "infrastructure-suggestions",
        "autosuggestData": "/autocomplete/infrastructure.json",
        "noResults": "No suggestions found. You can enter your own answer",
        "typeMore": "Continue entering to get suggestions",
        

    }) }}
    <br>
        <div id="con1" class="ons-field"></div>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='formScripts.js') }}"></script>
        {{ onsButton({
            "id": "remove",
            "type": "button",
            "text": "Remove Last Item",
            "variants": ['secondary', 'small'],
            "attributes": {
                "onclick": "removeData()"
            }
        }) }}
            <br>
                <br>
                <form action="{{ url_for('survey') }}" method="GET">
                        {{ onsButton({
                            "id": "save-values-button",
                            "text": "Finish section",
                            "iconType": "check",
                            "url": "/survey",
                            "attributes": {
                                "onclick": "storeData();"
                            }
                        }) }}
                </form>
        <script>
            loadData();
            redirectToPrevious();
            document.getElementById("error-panel").style.display = "none";
        </script>

            {% endblock %}