{% extends "core.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/label/_macro.njk" import onsLabel %}
{% block main %}
    {% call onsPanel({
        "id": "error-panel",
        "title": 'Error',
        "variant": 'error',
        "type": "error",
        "classes": "ons-u-hidden"
    }) %}
    {{ onsLabel({
        "id": 'label',
        "for": "some-input",
        "text": 'Item already added.'
    }) }}
    {% endcall %}
    <br>
        <h1>Languages</h1>
        {{ onsAccordion({
        "id": "publishing-content",
        "itemsList": [
            {
                "title": "More info",
                "content": "
                            <p>Please list the publishing target used in the project. Is it internal or external, or both? For both, please capture the information on both internal and external:</p>
                            <ul><li>Internal publishing target e.g. Private or Internal Github Release/ Tags, Amazon ECR Private Gallery</li>
                            <li>External publishing target e.g. Public Github Release/ Tags, Artifactory, PyPi, CRAN, Amazon ECR Public Gallery</li>
                            </ul>
                "
            }
        ]
    }) }}
        {{ onsAutosuggest({
        "id": "publishing-input",
        "input": {
            "label": {
                "text": "What publishing target is used?",
                "description": "Enter your own answer or select from suggestions",
            },
            "autocomplete": "on",
            "id": "publishing-input",
            "class": "item-inputs",
            "attributes": {
                "onsubmit": "Enter publishing target",
            },
            "searchButton": {
                "visuallyHideButtonText": false,
                "text": 'Add',
                "iconType": 'check',
                "attributes": {
                    "onclick": "addData()"
                }
            }
        },
        "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
        "ariaYouHaveSelected": "You have selected",
        "ariaMinChars": "Enter 3 or more characters for suggestions.",
        "ariaOneResult": "There is one suggestion available.",
        "ariaNResults": "There are {n} suggestions available.",
        "ariaLimitedResults": "Results have been limited to 10 suggestions. Type more characters to improve your search",
        "moreResults": "Continue entering to improve suggestions",
        "resultsTitle": "Suggestions",
        "resultsTitleId": "lanuages-suggestions",
        "autosuggestData": "/autocomplete/publishing.json",
        "noResults": "No suggestions found. You can enter your own answer",
        "typeMore": "Continue entering to get suggestions",

    }) }}
        <br>
            {% from "components/table/_macro.njk" import onsTable %}
            {{ onsTable({
        "caption": "",
        "id": "table-list",
        "ths": [
            {
                "value": "Publishing target"
            },
            {
                "value": "Is this Internal or External publishing target?"
            },
            {
                "value": ""
            }
        ],
        "trs": [
            {
                "tds": []
            }
        ]
    }) }}
            <script src="{{ url_for('static', filename='scripts.js') }}"></script>
            <script src="{{ url_for('static', filename='formScripts.js') }}"></script>
            <form action="{{ url_for('survey') }}" method="GET">
                {{ onsButton({
                    "id": "save-values-button",
                    "url": url_for('tech_summary'),
                    "text": "Save and continue",
                    "iconType": "arrow-next",
                    "iconPosition": "after",
                    "attributes": {
                        "onclick": "storeData();"
                    }
                }) }}
            </form>
            <script>
                loadData();
                redirectToPrevious();
            </script>
        {% endblock %}