{% extends "core.html" %}
{% include "utils.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% block main %}


    <h1 class="ons-u-mt-m">Supporting Tools Details</h1>


    <p>To complete this survey you will need to provide details on tools and software used, including:</p>
    {{
        onsList({
            "classes": 'ons-u-mb-m',
            "itemsList": [
                {
                    "text": 'Code editors'
                },
                {
                    "text": 'UI/UX Design tools'
                },
                {
                    "text": 'Diagramming tools'
                },
                {
                    "text": 'Project Tracking tools'
                },
                {
                    "text": 'Documentation software'
                },
                {
                    "text": 'Communication & collaboration tools'
                },
                {
                    "text": 'Miscellaneous'
                },
                {
                    "text": 'Incident management tools'
                },
            ]
        })
    }}

    {{
        onsButton({
            "text": 'Continue',
            "classes": 'ons-u-mt-xl',
            "url": url_for('code_editors'),
        })
    }}
{% endblock %}