{% extends "core.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/label/_macro.njk" import onsLabel %}
{% block main %}
    <h1>Project Tracking</h1>
    {{ onsAccordion({
        "id": "accordion-example",
        "itemsList": [
            {
                "title": "More info",
                "content": "<p>Please specify what project tracking software was used to develop tbhis project</p>"
            }
        ]
    }) }}
    <form action="{{ url_for('survey') }}" method="GET">
        {% call onsQuestion({
        "classes": "ons-u-mt-no",
        "legendIsQuestionTitle": true
    }) %}
        {{ onsLabel({
        "id": 'label',
        "for": "label",
        "text": 'What project tracking software was used for this project?',

    }) }}
        {{ onsRadios({
            "dontWrap": true,
            "name": "role",
            "radios": [
                {
                    "id": "jira",
                    "label": {
                        "text": "Jira"
                    },
                    "value": "Jira"
                },
                {
                    "id": "trello",
                    "label": {
                        "text": "Trello"
                    },
                    "value": "Trello"
                },
                {
                    "id": "other",
                    "label": {
                        "text": "Other"
                    },
                    "value": "other",
                    "other": {
                        "id": "other-input",
                        "name": "other",
                        "label": {
                            "text": "Enter project tracking software"
                        }
                    }
                }
            ]
        }) }}
        {% endcall %}
        <script src="{{ url_for('static', filename='formScripts.js') }}"></script>
        {{ onsButton({
        "id": "save-values-button",
        "text": "Save and continue",
        "url": url_for('documentation'),
        "attributes": {
            "onclick": "storeData();"
        }
    }) }}
        <script>
            function storeData() { // Store data about project tracking software in local storage
                var project_tracking = document.querySelector('input[name="role"]:checked').value;
                var other_project_tracking = document.getElementById('other-input').value;
                var complete = true;
                var newData = {
                    "project_tracking": project_tracking,
                    "complete": complete
                };
                if (project_tracking === 'other') {
                    newData.project_tracking = other_project_tracking;
                }
                var existingData = JSON.parse(localStorage.getItem('project_tracking-data')) || {};
                // Merge new data with existing data
                var updatedData = {
                    ... existingData,
                    ... newData
                };
                localStorage.setItem('project_tracking-data', JSON.stringify(updatedData));
            }
            function loadData() {
                var obj = {
                    "Jira": "jira",
                    "Trello": "trello"
                }
                var data = JSON.parse(localStorage.getItem('project_tracking-data'));
                if (data) {
                    if (data.project_tracking != "Jira" && data.project_tracking != "Trello") {
                        var option = "other";
                    } else {
                        var option = obj[data.project_tracking];
                    }
                    console.log(option);
                    document.getElementById(option).checked = true;
                    if (data.project_tracking) {
                        document.getElementById('other-input').value = data.project_tracking;
                    }
                }
            }
            loadData();
        </script>
    </form>
{% endblock %}