{% extends "layout/_template.njk" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{%
    set pageConfig = {
        "header": {
            "title": "Create a project",
            "signoutButton": {
                "text": "Save and sign out"
            }
        },
        "breadcrumbs": {
            "itemsList": [
                {
                    "url": '/survey',
                    "text": 'Back'
                }
            ]
        },
              "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
    }
%}

{% block main %}

<h1>Source Control</h1>

{{
    onsAccordion({
        "id": "accordion-example",
        "itemsList": [
            {
                "title": "More info",
                "content": "<p>Enter details about the project's source control such e.g Github, Gitlab etc.</p>"
            }
        ]
    })
}}

<form action="{{ url_for('survey') }}" method="GET">

{%
    call onsQuestion({
        "classes": "ons-u-mt-no",
        "legendIsQuestionTitle": true
    })
%}
    {{
        onsRadios({
            "dontWrap": true,
            "name": "role",
            "radios": [
                {
                    "id": "github",
                    "label": {
                        "text": "Github"
                    },
                    "value": "Github"
                },
                {
                    "id": "gitlab",
                    "label": {
                        "text": "Gitlab"
                    },
                    "value": "Gitlab"
                },
                {
                    "id": "other",
                    "label": {
                        "text": "Other"
                    },
                    "value": "other",
                    "other": {
                        "id": "other-input",
                        "name": "other",
                        "label": {
                            "text": "Enter source control software"
                        }
                    }
                }
            ]
        })
    }}
{% endcall %}

<script src="{{ url_for('static', filename='formScripts.js') }}"></script>

{{
    onsButton({
        "id": "save-values-button",
        "text": "Save and continue",
        "url": url_for('architecture'),
        "attributes": {
            "onclick": "storeData();"
        }
    })
}}

<script>
    function storeData() {
        var source_control = document.querySelector('input[name="role"]:checked').value;
        var other_source_control = document.getElementById('other-input').value;
        var complete = true;

        var data = {
            "source_control": source_control,
            "other_source_control": other_source_control,
            "complete": complete
        };

        if (source_control === 'other') {
            data.source_control = other_source_control;
        }

        localStorage.setItem('data-source-control', JSON.stringify(data));

        console.log(localStorage.getItem('data-source-control'));
    }

    function loadData() {
        var obj = {
            "Github": "github",
            "Gitlab": "gitlab",
        }
        var data = JSON.parse(localStorage.getItem('data-source-control'));

        if (data) {
            if (data.source_control != "Github" && data.source_control != "Gitlab") {
                var option = "other";
            } else {
                var option = obj[data.source_control];
            }

            document.getElementById(option).checked = true;
            console.log(option);

            if (data.source_control) {
                document.getElementById('other-input').value = data.source_control;
            }
        }
    }
    redirectToPrevious();
    loadData();
</script>


</form>

{% endblock %}