{% extends "layout/_template.njk" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{%
    set pageConfig = {
        "header": {
            "title": "Create a project",
            "signoutButton": {
                "text": "Save and sign out",
                "url": "/sign-out"
            }
        },
        "breadcrumbs": {
            "itemsList": [
                             {
                    "url": '/pre-survey/architecture',
                    "text": 'Architecture Details'
                },
                {
                    "url": '/survey/source_control',
                    "text": 'Source Control'
                }
            ]
        },
              "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
    }
%}

{% block main %}


{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/label/_macro.njk" import onsLabel %}
{%
    call onsPanel({
        "id": "error-panel",
        "title": 'Error',
        "variant": 'error',
        "type": "error",
    })
%}

{{
    onsLabel({
        "id": 'label',
        "for": "some-input",
        "text": 'Item already added.'
    })
}}
{% endcall %}
<br>

<h1>Source Control</h1>

{{
    onsAccordion({
        "id": "accordion-example",
        "itemsList": [
            {
                "title": "More info",
                "content": "<p>Enter the names of the hosting services used by the project.</p>"
            }
        ]
    })
}}
{{
    onsInput({
        "id": "source_control_link-input",
        "label": {
            "text": "Do you have a link to your source control?"
        }
    })
}}

{{
    onsInput({
        "id": "source_control_desc-input",
        "label": {
            "text": "How would you describe this source control?"
        },
                    "searchButton": {
                "visuallyHideButtonText": false,
                "text": 'Add',
                "iconType": 'check',
                "attributes": {
                    "onclick": "addData()"
                }
            }
    })
}}
        <br>
            {% from "components/table/_macro.njk" import onsTable %}
            {{ onsTable({
        "caption": "",
        "id": "table-list",
        "ths": [
            {
                "value": "Description"
            },
            {
                "value": "Link"
            },
            {
                "value": ""
            }
        ],
        "trs": [
            {
                "tds": []
            }
        ]
    }) }}
{# <script src="{{ url_for('static', filename='scripts.js') }}"> #}
    <script>
var langArr = {"source_control":"","other_source_control":"","complete":null, "links": [{}]}

function storeData() {
    localStorage.setItem('source_control-data', JSON.stringify(langArr));
}

function loadData() {
    if (localStorage.getItem('source_control-data') === null) {
        localStorage.setItem('source_control-data', JSON.stringify(langArr));
    }

    langArr = JSON.parse(localStorage.getItem('source_control-data'));
    console.log(langArr);
    console.log(typeof langArr);

    renderData();
}
function renderData() {
    var tableBody = document.querySelector('#table-list tbody');
    tableBody.innerHTML = '';

    (langArr.links || []).forEach(item => {
        var newRow = document.createElement('tr');
        newRow.classList.add('ons-table__row');

        newRow.innerHTML = `
            <td class="ons-table__cell">${item.description}</td>
            <td class="ons-table__cell">${item.link}</td>
            <td class="ons-table__cell">
                <button type="button" class="ons-btn ons-btn--secondary ons-btn--small" onclick='removeData("${item.link}")'>
                    <span class="ons-btn__inner"><span class="ons-btn__text">Remove</span></span>
                </button>
            </td>
        `;

        tableBody.appendChild(newRow);
    });
}

function removeData(lang) {
    langArr.main = langArr.main.filter(item => item !== lang);
    langArr.others = langArr.others.filter(item => item !== lang);
    storeData();
    renderData();
}

function showError() {
    document.getElementById('error-panel').style.display = 'block';
}

function addData(event) {
    var link = document.getElementById('source_control_link-input');
    var desc = document.getElementById('source_control_desc-input');

    var link_value = link.value;
    var desc_value = desc.value;
    console.log(link_value, desc_value, langArr);

    if (!link_value && !desc_value) {
        showError();
        return;
    }

    if (!langArr.links) {
        langArr.links = [];
    }

    if (langArr.links.some(item => item.link.toLowerCase() === link_value.toLowerCase())) {
        showError();
        return;
    }

    langArr.links.push({ link: link_value, description: desc_value });
    storeData();
    renderData();

    link.value = '';
    desc.value = '';
    document.getElementById("error-panel").style.display = "none";
}



document.getElementById('source_control_desc-input').onkeydown = function(event) {
    if (event.key === 'Enter') {
        addData(event);
    }
};


</script>


<form action="{{ url_for('survey') }}" method="GET"> 
{{
    onsButton({
        "id": "save-values-button",
        "text": "Save and continue",
        "iconType": "check",
        "url": url_for('hosting'),
        "attributes": {
            "onclick": "storeData();"
        }
    })
}}

</form>

<script src="{{ url_for('static', filename='formScripts.js') }}">
</script>


<script>
loadData();
document.getElementById("error-panel").style.display = "none";
redirectToPrevious();
</script>




{% endblock %}