{% extends "layout/_template.njk" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}


{%
    set pageConfig = {
        "header": {
            "title": "Hub example",
            "signoutButton": {
                "text": "Save and sign out"
            }
        }
    }
%}

{% block main %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/list/_macro.njk" import onsList %}

{%
    call onsPanel({
        "id": "error-panel",
        "title": 'Item already exists',
        "variant": 'error',
        "type": "error",
    })
%}

{% endcall %}

<h1>Hosting</h1>

{{
    onsAccordion({
        "id": "accordion-example",
        "itemsList": [
            {
                "title": "More info",
                "content": "<p>Enter the names of the hosting services used by the project.</p>"
            }
        ]
    })
}}

{{ onsAutosuggest({
        "id": "architecture-input",
        "input": {
            "label": {
                "text": "Enter architecture",
                "description": "Enter your own answer or select from suggestions",
            },
            "autocomplete": "on",
            "id": "architcture-input",
            "class": "item-inputs",
            "attributes": {
                "onsubmit": "Enter architecture",
            }
        },
        "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
        "ariaYouHaveSelected": "You have selected",
        "ariaMinChars": "Enter 3 or more characters for suggestions.",
        "ariaOneResult": "There is one suggestion available.",
        "ariaNResults": "There are {n} suggestions available.",
        "ariaLimitedResults": "Results have been limited to 10 suggestions. Type more characters to improve your search",
        "moreResults": "Continue entering to improve suggestions",
        "resultsTitle": "Suggestions",
        "resultsTitleId": "architecture-suggestions",
        "autosuggestData": "/autocomplete/architecture.json",
        "noResults": "No suggestions found. You can enter your own answer",
        "typeMore": "Continue entering to get suggestions",

    }) }}

<br>

<div id="con1" class="ons-field">

</div>

<script src="{{ url_for('static', filename='scripts.js') }}">
</script>

<script>
loadData();
</script>


{{
    onsButton({
        "id": "remove",
        "type": "button",
        "text": "Remove Last Item",
        "variants": ['secondary', 'small'],
        "attributes": {
            "onclick": "removeData()"
        }
    })
}}


<br>
<br>

<form action="{{ url_for('survey') }}" method="GET">
{{
    onsButton({
        "text": "Save and continue",
        "attributes": {
            "onclick": "storeData();"
        }
    })
}}

</form>
{% endblock %}