{% extends "layout/_template.njk" %}
{% set pageConfig = {
    "wide": true,
    "header": {
        "variants": "internal",
        "title": "Tech Radar Data Collection",
        "serviceLinks": {
            "itemsList": items
        },
        "navigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "currentPath": currentPath,
            "currentPageTitle": 'Design system',
            "itemsList": navItems,
            "toggleNavigationButton": {
                "text": 'Menu',
                "ariaLabel": 'Toggle menu'
            }
        }
    },
    "footer": {
        "OGLLink": {
            "pre": "All content is available under the",
            "link": "Open Government Licence v3.0",
            "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
            "post": ", except where otherwise stated"
        }
    }
} %}
