{% extends "layout/_template.njk" %}
{% set pageConfig = {
    "title": "Tech Radar Data Collection",
    "wide": true,
    "header": {
        "variants": "internal",
        "title": "Tech Radar Data Collection",
        "serviceLinks": {
            "itemsList": items
        },
        "navigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "currentPath": currentPath,
            "currentPageTitle": 'Design system',
            "itemsList": navItems,
            "toggleNavigationButton": {
                "text": 'Menu',
                "ariaLabel": 'Toggle menu'
            }
        }
    },
    "footer": {
        "oglLink": true
    },
    "fullWidth": true
} %}

{% block scripts %}
    <style>
        body {
            height: auto;
        }

        #table-list {
            display: block;
            max-height: 500px;
            overflow-y: auto;
            width: 100%;
        }

        #table-list table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        #table-list thead.ons-table__head {
            position: sticky;
            top: 0;
            width: 100%;
            background-color: #fff;
            z-index: 2;
            box-shadow: inset 0 -1px 0 0 #000;
        }

        #table-list th.ons-table__header {
            border-bottom: none;
        }

        .ons-table__body {
            width: 100%;
        }

        .ons-table__row {
            border-bottom: 1px solid #000;
            width: 100%;
        }

        .ons-table__header-text {
            white-space: nowrap;
        }

        .ons-table__header-text {
            text-wrap: nowrap;
        }

        .ons-table__cell {
            padding: 0.5rem;
            overflow-wrap: break-word;
        }

        #table-list th.ons-table__header:first-child,
        #table-list td.ons-table__cell:first-child {
            width: 50%;
        }

        #table-list th.ons-table__header:nth-child(2),
        #table-list td.ons-table__cell:nth-child(2) {
            width: 50%;
        }

        #table-list th.ons-table__header:last-child,
        #table-list td.ons-table__cell:last-child {
            width: 1%;
            text-align: center;
            white-space: nowrap;
        }

        .ons-icon {
            margin-top: 4px;
        }
    </style>
{% endblock %}