{% extends "layout/_template.njk" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/tabs/_macro.njk" import onsTabs %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}


{%
  set pageConfig = {
      "header": {
          "title": "Keh Tech Audit Tool"
      },
      
      "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
  }
%}

{% block main %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<section class="ons-tabs">
    <h2 class="ons-tabs__title ons-u-fs-r--b
          ons-u-mt-no ons-u-fs-m">Contents</h2>
    <div>
      <ul class="ons-tabs__list">
        <!-- prettier-ignore-start -->
        <li class="ons-tab__list-item"><a href="#ukis" class="ons-tab">Projects</a></li>
        <li class="ons-tab__list-item"><a href="#vacancy-survey" class="ons-tab">Add Project</a></li>
        <!-- prettier-ignore-end -->
      </ul>
    </div>
    <section id="ukis" class="ons-tabs__panel">
      <h2 id="ukis-content-title" class="ons-u-vh"></h2>
      <table id="basic-table" class="ons-table ons-table--">
        <caption class="ons-table__caption"> A basic table with a caption </caption>
        <thead class="ons-table__head">
          <tr class="ons-table__row">
            <th scope="col" class="ons-table__header">
              <span class="ons-table__header-text">Project Name</span>
            </th>
          </tr>
        </thead>
        <tbody class="ons-table__body">
            {% for project in projects %}
                <tr class="ons-table__row">
                    <td class="ons-table__cell"><a href="{{  url_for('view_project', project_name=project.project_name)  }}">{{ project.project_name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

    </section>
    <section id="vacancy-survey" class="ons-tabs__panel">
      <h2 id="vacancy-survey-content-title" class="ons-u-vh">Vacancy survey</h2>



      <form action="{{ url_for('add_project') }}" method="POST">
    
        {{
            onsInput({
                "id": "project_name",
                "name": "project_name",
                "label": {
                    "text": "Project Name"
                }
            })
        }}

        {{
            onsInput({
                "id": "project_long_name",
                "name": "project_long_name",
                "label": {
                    "text": "Project Long Name"
                }
            })
        }}

        {{
            onsInput({
                "id": "Owner Email",
                "type": "email",
                "name": "owner_email",
                "autocomplete": "email",
                "label": {
                    "text": "Email address",
                    "description": ""
                }
            })
        }}

        {{
            onsInput({
                "id": "Contact Email",
                "type": "email",
                "name": "contact_email",
                "autocomplete": "email",
                "label": {
                    "text": "Contact Email Address",
                    "description": ""
                }
            })
        }}

        {{
            onsInput({
                "id": "doc_link",
                "name": "doc_link",
                "label": {
                    "text": "Document Link"
                }
            })
        }}

        <br>
        <script>
            function createInput(container) {
                document.getElementById(container).appendChild(document.createElement('br'));
                var inp = document.createElement('input');
                inp.name = container + "[]";

                document.getElementById(container).appendChild(inp);

                document.getElementById(container).appendChild(document.createElement('br'));
                document.getElementById(container).appendChild(document.createElement('br'));

            }
        </script>
        {{
            onsButton({
                "id": "langframe",
                "type": "button",
                "text": "Add Languages/Frameworks",
                "variants": ['secondary', 'small'],
                "attributes": {
                    "onclick": "createInput('con1')"
                }
            })
        }}


        <div id="con1" class="ons-field">
            
        </div>
        
        <br>

        {{
            onsButton({
                "id": "ide",
                "text": "Add IDEs",
                "type": "button",
                "variants": ['secondary', 'small'],
                "attributes": {
                    "onclick": "createInput('con2')"
                }
            })
        }}

        <div id="con2">

        </div>
        
        <br>

        {{
            onsButton({
                "id": "misc",
                "type": "button",
                "text": "Add Miscellanous Tools",
                "variants": ['secondary', 'small'],
                "attributes": {
                    "onclick": "createInput('con3')"
                }
            })
        }}

       

        <div id="con3">

        </div>
        
        <br>

        {{
            onsButton({
                "text": "Submit",
            })
        }}
        </form>
        
    </section>
   
    

  </section>




{% endblock %}
