{% extends 'core.html'%}
{% from "components/button/_macro.njk" import onsButton %}
{% block main %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <section id="section-content" class="ons-page__body">
    <h2>What is the Tech Radar Data Collection Tool?</h2>
    <p>
      This tool is used to collect data about various projects, which is then utilized by the Tech Radar Tool. This helps in
      assessing and visualizing the technology landscape within the organization, aiding in strategic decision-making and
      technology adoption.
    </p>
    <p>
      Selected users can sign in to the tool using their Cognito credentials. Once signed in, they can create a project and
      view existing project data.
    </p>
    {{ onsButton({
            "text": "Sign in with Cognito",
            "url": "https://tech-audit-tool-api-sdp-" + AWS_ENV + ".auth.eu-west-2.amazoncognito.com/login?client_id=" + CLIENT_ID + "&response_type=code&scope=email+openid&redirect_uri=" + REDIRECT_URI
    }) }}
  </section>
{% endblock %}