{% extends "layout/_template.njk" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{%
    set pageConfig = {
        "header": {
            "title": "Create a project",
            "signoutButton": {
                "text": "Save and sign out"
            }
        },
        "breadcrumbs": {
            "itemsList": [
                {
                    "url": '/dashboard',
                    "text": 'Back'
                }
            ]
        },
              "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
    }
%}

{% block main %}

<h1>Project Details</h1>

{{
    onsAccordion({
        "id": "accordion-example",
        "itemsList": [
            {
                "title": "More info",
                "content": "Enter details about the project such as: <ul><li>Project Name</li> <li>Shortened Project Name</li> <li>Documentation link for the project</li></ul>"
            }
        ]
    })
}}

<form action="{{ url_for('survey') }}" method="GET">

{{
    onsInput({
        "id": "project-name",
        "label": {
            "text": "Project Name"
        }
    })
}}

{{
    onsInput({
        "id": "project-long-name",
        "label": {
            "text": "Project Long Name"
        }
    })
}}

{{
    onsInput({
        "id": "documentation-link",
        "label": {
            "text": "Documentation link"
        }
    })
}}

{%
    call onsQuestion({
        "classes": "ons-u-mt-no",
        "legendIsQuestionTitle": true
    })
%}
{% endcall %}

<script>
    function storeData() {
        var project_name = document.getElementById('project-name').value;
        var project_long_name = document.getElementById('project-long-name').value;
        var doc_link = document.getElementById('documentation-link').value;

        var data = {
            "project_name": project_name,
            "project_long_name": project_long_name,
            "doc_link": doc_link,
        };

        localStorage.setItem('data', JSON.stringify(data));

        console.log(localStorage.getItem('data'));
    }

    function loadData() {
        var data = JSON.parse(localStorage.getItem('data'));
        var project_name = data.project_name;
        var project_long_name = data.project_long_name;
        var doc_link = data.doc_link;

        if (data) {
            console.log('bumbaclaat');
            document.getElementById('project-name').value = project_name;
            document.getElementById('project-long-name').value = project_long_name;
            document.getElementById('documentation-link').value = doc_link;
        }
    }

    loadData();
</script>

{{
    onsButton({
        "text": "Save and continue",
        "attributes": {
            "onclick": "storeData();"
        }
    })
}}
</form>

{% endblock %}