{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% macro checkBox() %}
    check
{%- endmacro %}
{% block main %}
    <h1 class="ons-u-mt-m">Choose a section to complete</h1>
    {{ onsSummary({
            "variant": "hub",
            "classes": "ons-u-mt-m",
            "summaries": [
                {
                    "groups": [
                        {
                            "rows": [
                                {
                                    "rowTitle": "Project Details",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "<div id='user_details'></div>"
                                                }
                                            ],
                                          "id": "user-details",

                                            "iconType": "chevron",
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for People who live here",
                                                    "url": url_for('project_pre_survey'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Code and Architecture",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                            {
                                                "text": "<div id='project_details'></div>"
                                            }
                                        ],
                                        "id": "project-details",
                                            "iconType": "chevron", 
                                            "actions": [
                                                {   
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Household accommodation",
                                                    "url": url_for('architecture_pre_survey')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Technology Details",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                            {
                                                "text": "<div id='developed_details'></div>"
                                            }
                                        ],
                                        "id": "developed-details",
                                            "iconType": "chevron",
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('tech_pre_survey')
                                                }
                                            ]
                                        }
                                    ]
                                },
                            ]
                        }
                    ]
                }
            ]
        }) }}
    {{ onsButton({
            "id": "submit-btn",
            "text": '<div id="submit-btn-text">Continue to Submission</div>',
            "classes": 'ons-u-mb-m ons-u-mt-l',
            "url": url_for('validate_details')
        }) }}
    <script>
        function load_data() {
            // Project Details
            var contactTechData = localStorage.getItem('contact_tech-data');
            var contactManagerData = localStorage.getItem('contact_manager-data');
            var projectData = localStorage.getItem('project-data');
            var developedData = localStorage.getItem('developed-data');
            var stageData = localStorage.getItem('stage-data');
            // Architecture Details
            var sourceControlData = localStorage.getItem('source_control-data');
            var hostingData = localStorage.getItem('hosting-data');
            var databaseData = localStorage.getItem('database-data');
            // Technology Details
            var frameworksData = localStorage.getItem('frameworks-data');
            var infrastructureData = localStorage.getItem('infrastructure-data');
            var integrationsData = localStorage.getItem('integrations-data');
            var languagesData = localStorage.getItem('languages-data');
            function changeBtnURL() {
                var submitBtn = document.getElementById('submit-btn');
                var submitBtnSpan = submitBtn.querySelector('span');
                if (submitBtnSpan) {
                    submitBtnSpan.style.display = 'flex';
                    submitBtnSpan.querySelector('svg').style.marginTop = '2px';

                }
                try {
                    if (!JSON.parse(contactTechData)["contactEmail"] || !JSON.parse(contactTechData)["role"]) {
                        submitBtn.href = '/survey/contact_tech';
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue'
                    submitBtn.href = '/pre-survey/project';
                    console.log(e)

                    return;
                }
                try {
                    if (!JSON.parse(contactManagerData)["contactEmail"] || !JSON.parse(contactManagerData)["role"]) {
                        submitBtn.href = '/survey/contact_manager';
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue'
                    submitBtn.href = '/survey/contact-manager';
                    console.log(e)
                    return;
                }
                try {
                    if (
                        !JSON.parse(projectData)["project_name"] ||
                        !JSON.parse(projectData)["project_short_name"] ||
                        !JSON.parse(projectData)["project_description"] ||
                        !JSON.parse(projectData)["doc_link"]
                    ) {
                        submitBtn.href = '/survey/project';
                        console.log("hello");
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue'
                    submitBtn.href = '/survey/project';
                    console.log(e);
                    return;
                }
                try {
                    if (!JSON.parse(sourceControlData)["source_control"]) {
                        submitBtn.href = '/survey/source_control';
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue'
                    submitBtn.href = '/pre-survey/architecture';
                    console.log(e)
                    return;
                }
                try {
                    if (!JSON.parse(databaseData)["others"].length === 0) {
                        submitBtn.href = '/survey/database';
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue'
                    submitBtn.href = '/survey/database';
                    console.log(e);
                    return;
                }
                try {
                    if (!JSON.parse(languagesData)["others"].length === 0) {
                        submitBtn.href = '/survey/languages';
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue'
                    submitBtn.href = '/pre-survey/technology';
                    console.log(e);
                    return;
                }
                try {
                    if (!JSON.parse(frameworksData)["others"].length === 0) {
                        submitBtn.href = '/survey/frameworks';
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue';
                    submitBtn.href = '/survey/frameworks';
                    console.log(e)
                    return;
                }
                try {
                    if (!JSON.parse(integrationsData)["others"].length === 0) {
                        submitBtn.href = '/survey/integrations';
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue'
                    submitBtn.href = '/survey/integrations';
                    console.log(e);
                    return;
                }
                try {
                    if (!JSON.parse(infrastructureData)["others"].length === 0) {
                        submitBtn.href = '/survey/infrastructure';
                        document.getElementById('submit-btn-text').innerHTML = 'Continue';
                        return;
                    }
                } catch (e) {
                    document.getElementById('submit-btn-text').innerHTML = 'Continue';
                    submitBtn.href = '/survey/infrastructure';
                    console.log(e);
                    return;
                }
            }
            function updateSectionStatus(sectionId, dataItems) { // Update selection status to indicate how far complete a section is e.g Not started, Partially completed, Completed
                var sectionElement = document.getElementById(sectionId);
                if (sectionElement) {
                    var completedCount = dataItems.filter(item => {
                        if (item) {
                            var parsedItem = JSON.parse(item);
                            if (Array.isArray(parsedItem)) {
                                return parsedItem.length > 0;
                            } else if (typeof parsedItem === 'object') {
                                if (parsedItem.complete === true) {
                                    return true;
                                } else if (parsedItem.type === 'On-premises') {
                                    return true;
                                }
                                else if (parsedItem.main || parsedItem.others) {
                                    return(parsedItem.main && parsedItem.main.length > 0) || (parsedItem.others && parsedItem.others.length > 0);
                                }
                            }
                        }
                        return false;
                    }).length;
                    var totalCount = dataItems.length;
                    var sectionIdWithDash = sectionId.replace(/_/g, '-');
                    var sectionElementWithDash = document.getElementById(sectionIdWithDash);
                    var actionSpan = sectionElementWithDash.querySelectorAll('dd span')[1];
                    if (completedCount === 0) {
                        sectionElement.innerHTML = 'Not Started';
                        if (actionSpan) {
                            actionSpan.innerHTML = 'Start section';
                        }
                    } else if (completedCount < totalCount) {
                        sectionElement.innerHTML = 'Partially completed';
                        if (actionSpan) {
                            actionSpan.innerHTML = 'Continue with section';
                        }
                    } else {
                        sectionElement.innerHTML = 'Completed';
                        if (actionSpan) {
                            actionSpan.textContent = 'Change section';
                        }
                        var span = sectionElementWithDash.querySelector('dt span');
                        if (span) {
                            span.innerHTML = '<span class="ons-summary__item-title-icon ons-summary__item-title-icon--check"><svg class="ons-icon" viewBox="0 0 13 10"' +
                                    ' xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor"> <path d="M14.35,3.9l-.71-.71a.5.5,0,0,0-.71,0' +
                                    'h0L5.79,10.34,3.07,7.61a.51.51,0,0,0-.71,0l-.71.71a.51.51,0,0,0,0,.71l3.78,3.78a.5.5,0,0,0,.71,0h0L14.35,4.6A.5.5,0,0,0,' +
                                    '14.35,3.9Z" transform="translate(-1.51 -3.04)"></path> </svg></span>';
                        }
                    }
                }
            }
            changeBtnURL();
            updateSectionStatus('user_details', [contactTechData, contactManagerData, projectData, developedData, stageData]);
            updateSectionStatus('project_details', [sourceControlData, hostingData, databaseData]);
            updateSectionStatus('developed_details', [frameworksData, infrastructureData, integrationsData, languagesData]);
        }
        load_data();
        localStorage.setItem("source_control-validate", false);
        localStorage.setItem("hosting-validate", false);
    </script>
{% endblock %}
{% block scripts %}
    <style>
        body {
            height: auto;
        }
    </style>
{% endblock %}