{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{%
    set pageConfig = {
        "header": {
            "title": "Hub example",
            "signoutButton": {
                "text": "Save and sign out"
            }
        }
    }
%}

{% block main %}
    <h1 class="ons-u-mt-m">Choose another section to complete</h1>

    {{
        onsSummary({
            "variant": "hub",
            "classes": "ons-u-mt-m",
            "summaries": [
                {
                    "groups": [
                        {
                            "rows": [
                                {
                                    "rowTitle": "You",
                                    "rowItems": [
                                        {
                                            "iconType": "check",
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for People who live here",
                                                    "url": url_for('you')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Project",
                                    "rowItems": [
                                        {
                                            "iconType": "check",
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Household accommodation",
                                                    "url": url_for('project')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Developed",
                                    "rowItems": [
                                        {
                                            "iconType": "check",
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('developed')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Source Control",
                                    "rowItems": [
                                        {
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Continue with John Smith's section",
                                                    "url": url_for('source_control')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Architecture",
                                    "rowItems": [
                                        {
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('architecture')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Database",
                                    "rowItems": [
                                        {
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Mary Susannah Smith's section",
                                                    "url": url_for('database')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Languages",
                                    "rowItems": [
                                        {
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('languages')                                              }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Frameworks",
                                    "rowItems": [
                                        {
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('frameworks')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "CI/CD",
                                    "rowItems": [
                                        {
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('integrations')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Infrastructure",
                                    "rowItems": [
                                        {
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('infrastructure')
                                                }
                                            ]
                                        }
                                    ]
                                },
                            ]
                        }
                    ]
                }
            ]
        })
    }}

    <script>
        var youData = localStorage.getItem('you_data');
        var projectData = localStorage.getItem('data');
        var developedData = localStorage.getItem('data-developed');
        var sourceControlData = localStorage.getItem('data-source-control');
        var frameworksData = localStorage.getItem('frameworks-data');
        var infrastructureData = localStorage.getItem('infrastructure-data');
        var integrationsData = localStorage.getItem('integrations-data');
        var languagesData = localStorage.getItem('languages-data');
        var architectureData = localStorage.getItem('architecture-data');
        var databaseData = localStorage.getItem('database-data');

        var finalData = {
            "user": JSON.parse(youData),
            "details": JSON.parse(projectData),
            "developed": JSON.parse(developedData),
            "source_control": JSON.parse(sourceControlData),
            "architecture": {
                "frameworks": JSON.parse(frameworksData),
                "infrastructure": JSON.parse(infrastructureData),
                "integrations": JSON.parse(integrationsData),
                "languages": JSON.parse(languagesData),
                "hosting": JSON.parse(architectureData),
                "database": JSON.parse(databaseData),
            },
        }
        console.log(finalData);

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(finalData),
        };
    </script>
   
   <form action="{{ url_for('survey') }}" method="POST">
    <input type="hidden" value="test value" name="TEST">
    <input type="hidden" value="test">
    <input type="hidden" value="test">
    <input type="hidden" value="test">
    <input type="hidden" value="test">
    <input type="hidden" value="test">
    <input type="hidden" value="test">
    <input type="hidden" value="test">
    <input type="hidden" value="test">
    <input type="hidden" value="test">

    
        {{
            onsButton({
                "text": 'Continue',
                "classes": 'ons-u-mb-m ons-u-mt-l',
                "iconType": false,
                "attributes": {
                    "onclick": "localStorage.clear();"
                }
            })
        }}
    </form>
{% endblock %}

      {% block scripts %}

        <style>
          body {
            height: auto;
          }
        </style>

        <script src="{{ site.baseUrl }}js/main.js?t={{ cacheTime }}"></script>
      {% endblock %}
    