{% extends "core.html" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% block main %}
    {% call onsPanel({
        "id": "error-panel",
        "title": 'Error',
        "variant": 'error',
        "type": "error",
    }) %}


    {{ onsLabel({
        "id": 'label',
        "for": "some-input",
        "text": 'Please fill in missing data'
    }) }}
    {% endcall %}
    {% if edit %}
    {{ onsBreadcrumbs({
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "url": url_for("view_project", project_name=project.details[0].name),
                "text": 'Back'
            },
        ],
    }) }}
    {% endif %}
    <h1 class="ons-u-mt-m">Check your answers</h1>
    {{ onsLabel({
        "id": 'label',
        "for": "some-input",
        "text": 'Please review the information you have entered before submitting the project.',
    }) }}
    {{ onsSummary({
            "variant": "hub",
            "classes": "ons-u-mt-m",
            "summaries": [
                {
                    "groups": [
                        {
                            "rows": [
                                {
                                    "id":"technical_contact",
                                    "title": "Technical Contact",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": ""
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change technical contact details",
                                                    "url": url_for('contact_tech'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {   
                                    "id":"delivery_manager",
                                    "title": "Delivery Manager Contact",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": ""
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change delivery manager details",
                                                    "url": url_for('contact_manager'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"project_details",
                                    "title": "Project",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change project details",
                                                    "url": url_for('project')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"developed_details",
                                    "title": "Developed",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change development status details",
                                                    "url": url_for('developed')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"stage_details",
                                    "title": "Stage",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change stage details",
                                                    "url": url_for('stage')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"project_dependencies_details",
                                    "title": "Project Dependencies",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change Project Dependencies details",
                                                    "url": url_for('project_dependencies')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"source_control_details",
                                    "title": "Source Control",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change source control details",
                                                    "url": url_for('source_control')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"hosting_details",
                                    "title": "Hosting",
                                    "itemsList": [
                                        {
                                        "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change hosting details",
                                                    "url": url_for('hosting')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"database_details",
                                    "title": "Database",
                                    "itemsList": [
                                        {
                                        "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change database details",
                                                    "url": url_for('database')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"languages_details",
                                    "title": "Languages",
                                    "itemsList": [
                                        {
                                        "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change languages details",
                                                    "url": url_for('languages')                                              }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"framework_details",
                                    "title": "Frameworks",
                                    "itemsList": [
                                        {
                                        "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change frameworks details",
                                                    "url": url_for('frameworks')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"integration_details",
                                    "title": "CI/CD",
                                    "itemsList": [
                                        {
                                        "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                              
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change integration details",
                                                    "url": url_for('integrations')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"infrastructure_details",
                                    "title": "Infrastructure",
                                    "itemsList": [
                                        {   
                                        "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change infrastructure details",
                                                    "url": url_for('infrastructure')
                                                }
                                            ]
                                        }
                                    ]
                                },

                                {
                                    "id":"code_editor_details",
                                    "title": "Code Editors",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": ""
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change code editor details",
                                                    "url": url_for('code_editors'),
                                                }
                                            ]
                                        }
                                    ]
                                },

                                {
                                    "id":"user_interface_details",
                                    "title": "User Interface",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change user interface details",
                                                    "url": url_for('user_interface')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"diagram_details",
                                    "title": "Diagrams",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change diagrams details",
                                                    "url": url_for('diagramming_tools')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"project_tracking_details",
                                    "title": "Project Tracking",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change project tracking details",
                                                    "url": url_for('project_tracking')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"documentation_details",
                                    "title": "Documentation",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change documentation details",
                                                    "url": url_for('documentation')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"communication_details",
                                    "title": "Communication",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change communication details",
                                                    "url": url_for('communication')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"collaboration_details",
                                    "title": "Collaboration",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change collaboration details",
                                                    "url": url_for('collaboration')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "id":"incident_management_details",
                                    "title": "Incident Management",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change incident management details",
                                                    "url": url_for('incident_management')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {   
                                    "id":"miscellaneous_details",
                                    "title": "Miscellaneous",
                                    "itemsList": [
                                        {
                                            "valueList": [
                                            {
                                                "text": ""
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change miscellaneous details",
                                                    "url": url_for('miscellaneous')
                                                }
                                            ]
                                        }
                                    ]
                                },  
                                
                            ]
                        }
                    ]
                }
            ]
        }) }}

    {% if edit %}
        <form action="{{ url_for('survey') }}" method="POST" onsubmit="removeEdits()">
    {% else %}
    <form action="{{ url_for('survey') }}" method="POST" onsubmit="localStorage.clear()">
    {% endif %}
      
    <input id="user" type="hidden" name="user">
    <input id="project" type="hidden" name="project">
    <input id="developed" type="hidden" name="developed">
    <input id="source_control" type="hidden" name="source_control">
    <input id="hosting" type="hidden" name="hosting">
    <input id="database" type="hidden" name="database">
    <input id="languages" type="hidden" name="languages">
    <input id="frameworks" type="hidden" name="frameworks">

    <input id="integrations" type="hidden" name="integrations">
    <input id="infrastructure" type="hidden" name="infrastructure">
    <input id="stage" type="hidden" name="stage">
    <input id="project_dependencies" type="hidden" name="project_dependencies">
    <input id="code_editors" type="hidden" name="code_editors">
    <input id="user_interface" type="hidden" name="user_interface">
    <input id="diagrams" type="hidden" name="diagrams">
    <input id="project_tracking" type="hidden" name="project_tracking">
    <input id="documentation" type="hidden" name="documentation">
    <input id="communication" type="hidden" name="communication">
    <input id="collaboration" type="hidden" name="collaboration">
    <input id="incident_management" type="hidden" name="incident_management">
    <input id="project_name" type="hidden" name="project_name">
    <input id="project_users" type="hidden" name="project_users">
    <input id="miscellaneous" type="hidden" name="miscellaneous">
      
    {{ onsButton({
            "text": 'Save Project',
            "id": "submit-button-btn",
            "classes": 'ons-u-mb-m ons-u-mt-l',
            "iconType": "check",
            "iconPosition": "after",
        })
    }}
    
</form>

<script>
    localStorage.setItem('redirect_url', window.location.href);
    var current_url = window.location.href.split("/");
    var trail = current_url[current_url.length - 1];
    var edit = false;
    if (trail === "edit") {
        edit = true;
    }
    localStorage.setItem("edit", edit);
    
    {% if edit %}
    window.originalData = {{ project | tojson | safe }};
    window.projectName = "{{ project_name }}";
    {% endif %}
</script>

<script src="{{ url_for('static', filename='js/submission.js') }}"></script>
<script src="{{ url_for('static', filename='js/summary.js') }}"></script>

{% endblock %}
