{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/button/_macro.njk" import onsButton %}

{%
    set pageConfig = {
        "header": {
            "title": "Create a project",
            "signoutButton": {
                "text": "Save and sign out",
                "url": "/sign-out"
            }
        },
              "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
    }
%}

{% block main %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{{
    onsBreadcrumbs({
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
                {
                    "url": '/dashboard#add-projects',
                    "text": 'Dashboard'
                },
                {
                    "url": '/pre-survey',
                    "text": 'Pre-survey'
                },
                {
                    "url": '/survey',
                    "text": 'Survey'
                }
            ]
    })
}}
{%
    call onsPanel({
        "id": "error-panel",
        "title": 'Error',
        "variant": 'error',
        "type": "error",
    })
%}
{{
    onsLabel({
        "id": 'label',
        "for": "some-input",
        "text": 'Please fill in missing data'
    })
}}

{% endcall %}
    <h1 class="ons-u-mt-m">Check your answers</h1>
    {{
    onsLabel({
        "id": 'label',
        "for": "some-input",
        "text": 'Please review the information you have entered before submitting the project.',
    })
}}

    {{
        onsSummary({
            "variant": "hub",
            "classes": "ons-u-mt-m",
            "summaries": [
                {
                    "groups": [
                        {
                            "rows": [
                                {
                                    "rowTitle": "Technical Contact",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "<div id='technical_contact'></div>"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for People who live here",
                                                    "url": url_for('contact_tech'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Delivery Manager Contact",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "<div id='delivery_manager'></div>"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for People who live here",
                                                    "url": url_for('contact_manager'),
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Project",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                            {
                                                "text": "<div id='project_details'></div>"
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Household accommodation",
                                                    "url": url_for('project')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Developed",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                            {
                                                "text": "<div id='developed_details'></div>"
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "View answers for Mary Smith",
                                                    "url": url_for('developed')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Source Control",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                            {
                                                "text": "<div id='source_control_details'></div>"
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Continue with John Smith's section",
                                                    "url": url_for('source_control')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Hosting",
                                    "rowItems": [
                                        {
                                        "valueList": [
                                            {
                                                "text": "<div id='hosting_details'></div>"
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('hosting')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Database",
                                    "rowItems": [
                                        {
                                        "valueList": [
                                            {
                                                "text": "<div id='database_details'></div>"
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Mary Susannah Smith's section",
                                                    "url": url_for('database')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Languages",
                                    "rowItems": [
                                        {
                                        "valueList": [
                                            {
                                                "text": "<div id='languages_details'></div>"
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('languages')                                              }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Frameworks",
                                    "rowItems": [
                                        {
                                        "valueList": [
                                            {
                                                "text": "<div id='framework_details'></div>"
                                            }
                                        ],

                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('frameworks')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "CI/CD",
                                    "rowItems": [
                                        {
                                        "valueList": [
                                            {
                                                "text": "<div id='integration_details'></div>"
                                            }
                                        ],
                              
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('integrations')
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "rowTitle": "Infrastructure",
                                    "rowItems": [
                                        {   
                                        "valueList": [
                                            {
                                                "text": "<div id='infrastructure_details'></div>"
                                            }
                                        ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Start Billy Smith's section",
                                                    "url": url_for('infrastructure')
                                                }
                                            ]
                                        }
                                    ]
                                },
                            ]
                        }
                    ]
                }
            ]
        })
    }}
    {# onsubmit="localStorage.clear()" for time being #}

    <form action="{{ url_for('survey') }}"
    method="POST">
        <input id="user" type="hidden" name="user">
        <input id="project" type="hidden" name="project">
        <input id="developed" type="hidden" name="developed">
        <input id="source_control" type="hidden" name="source_control">
        <input id="hosting" type="hidden" name="hosting">
        <input id="database" type="hidden" name="database">
        <input id="languages" type="hidden" name="languages">
        <input id="frameworks" type="hidden" name="frameworks">
        <input id="integrations" type="hidden" name="integrations">
        <input id="infrastructure" type="hidden" name="infrastructure">
    {{
        onsButton({
            "text": 'Save Project',
            "id": "submit-button",
            "classes": 'ons-u-mb-m ons-u-mt-l',
            "iconType": "check",
            "iconPosition": "after",
        })
    }}
    
</form>

    <script>
        function arrToList(arr) {
            var final = ""
            try{
                for (let i = 0; i <= arr.length - 1; i++) {
                console.log(arr[i]);
                    if (i === 0) {
                        final += `<ul>`
                    }
                    final += `<li>${arr[i]}</li>`;
                    if (i === arr.length - 1) {
                        final += `</ul>`
                    }
                }
            } catch (e) {
                console.log(e);
            }
            return final;
        }
        function arrToLinkList(arr) {
            var final = ""
            try {
            for (let i = 0; i <= arr.length - 1; i++) {
                if (i === 0) {
                final += `<ul>`
                }
                final += `<li>${arr[i].description}: <br> <a href='${arr[i].link}'>${arr[i].link}</a></li>`;
                if (i === arr.length - 1) {
                final += `</ul>`
                }
            }
            } catch (e) {
            console.log(e);
            }
            return final;
        }
        function load_data() {
            // Project Details
            var contactTechData = localStorage.getItem('contact-tech-data');
            var contactManagerData = localStorage.getItem('contact-manager-data');
            var projectData = localStorage.getItem('data');
            var developedData = localStorage.getItem('data-developed');

            // Architecture Details 
            var sourceControlData = localStorage.getItem('source_control-data');
            var hostingData = localStorage.getItem('hosting-data');
            var databaseData = localStorage.getItem('database-data');

            // Technology Details
            var frameworksData = localStorage.getItem('frameworks-data');
            var infrastructureData = localStorage.getItem('infrastructure-data');
            var integrationsData = localStorage.getItem('integrations-data');
            var languagesData = localStorage.getItem('languages-data');
            localStorage.setItem('validate', false);

            document.getElementById('error-panel').style.display = 'none';

            try {
            if (contactTechData === null ||
                projectData === null ||
                developedData === null ||
                sourceControlData === null ||
                JSON.parse(frameworksData).length === 0 || 
                JSON.parse(infrastructureData).length === 0 ||
                JSON.parse(integrationsData).length === 0 ||
                JSON.parse(languagesData).length === 0 ||
                JSON.parse(hostingData).length === 0 ||
                JSON.parse(databaseData).length === 0) {

                    document.getElementById('error-panel').style.display = 'block';
                    document.getElementById('submit-button').style.display = 'none';
                    
                if (contactTechData === null || contactTechData["contactEmail"] === '' || contactTechData["role"] === '') {
                    document.getElementById('error-panel').style.display = 'block';
                    document.getElementById('submit-button').style.display = 'none';
                }

                if (contactManagerData === null || contactManagerData["contactEmail"] === '' || contactManagerData["role"] === '') {
                    document.getElementById('error-panel').style.display = 'block';
                    document.getElementById('submit-button').style.display = 'none';
                }

                if (projectData === null || projectData["project_name"] === '' 
                        || projectData["project_long_name"] === '' 
                        || projectData["doc_link"] === '' 
                        || projectData["project_description"] === '') {
                    document.getElementById('error-panel').style.display = 'block';
                    document.getElementById('submit-button').style.display = 'none';
                }
                

                }
            } catch (e) {

                document.getElementById('error-panel').style.display = 'block';
                document.getElementById('submit-button').style.display = 'none';

            }
            
            var youData = [];
            if (contactTechData) {
            var techData = JSON.parse(contactTechData);
            youData.push({
                "email": techData.contactEmail,
                "roles": ["Technical Contact"],
                "grade": techData.role
            });
            }

            if (contactManagerData) {
            var managerData = JSON.parse(contactManagerData);
            if (managerData.contactEmail) {
                youData.push({
                "email": managerData.contactEmail,
                "roles": ["Delivery Manager"],
                "grade": managerData.role
                });
            }
            }
            // NEEDS TO BE UPDATED WHEN SOURCE CONTROL IS CHANGEEDDDD
            var sourceControlParsed = JSON.parse(sourceControlData);
            console.log(sourceControlParsed.links)
            var finalSourceControl = [
            {
                "type": sourceControlParsed.source_control,
                "links": sourceControlParsed.links
                
            }
            ];

            var finalData = {
            "user": (youData),
            "details": JSON.parse(projectData),
            "developed": JSON.parse(developedData),
            "source_control": finalSourceControl,
            "architecture": {
                "frameworks": JSON.parse(frameworksData),
                "infrastructure": JSON.parse(infrastructureData),
                "integrations": JSON.parse(integrationsData),
                "languages": JSON.parse(languagesData),
                "hosting": JSON.parse(hostingData),
                "database": JSON.parse(databaseData),
            },
            }

            // Remove 'complete' key from details, developed, and source_control
            delete finalData.details.complete;
            delete finalData.developed.complete;
            delete finalData.source_control.complete;
            console.log(finalData);

            var technical_contact = `<ul><li>${finalData.user[0].roles.join(', ')}: ${finalData.user[0].email} (${finalData.user[0].grade})</li></ul>`;
            var delivery_manager = '';
            if (finalData.user.length > 1) {
                delivery_manager = `<ul><li>${finalData.user[1].roles.join(', ')}: ${finalData.user[1].email} (${finalData.user[1].grade})</li></ul>`;
            }
            var project_details = `<ul><li>Name: ${finalData.details.project_name}</li><li>Short Name: ${finalData.details.project_long_name}</li><li>Documentation Link: ${finalData.details.doc_link}</li></ul>`;
            if (finalData.developed.developed === "Outsourced") {
                var company = finalData.developed.outsource_company;
            } else if (finalData.developed.developed === "Partnership") {
                var company = finalData.developed.partnership_company;
            } else {
                var company = "N/A";
            }
            try {
            var developed_details = `<ul><li>Developed By: ${finalData.developed.developed}</li><li>Partnership/Outsource Company: ${company}</li></ul>`;

            var hosting = finalData.architecture.hosting.main.concat(finalData.architecture.hosting.others);
            var languages = finalData.architecture.languages.main.concat(finalData.architecture.languages.others);
            var frameworks = finalData.architecture.frameworks.main.concat(finalData.architecture.frameworks.others);
            var integrations = finalData.architecture.integrations.main.concat(finalData.architecture.integrations.others);
            var infrastructure = finalData.architecture.infrastructure.main.concat(finalData.architecture.infrastructure.others);
            var database_details = arrToList(finalData.architecture.database.main.concat(finalData.architecture.database.others));
            } catch (e) {
                console.log(e);
            }

            var hosting_details = arrToList(hosting);
            var languages_details = arrToList(languages);
            var frameworks_details = arrToList(frameworks);
            var integrations_details = arrToList(integrations);
            var infrastructure_details = arrToList(infrastructure);

            document.getElementById('technical_contact').innerHTML = technical_contact;
            document.getElementById('delivery_manager').innerHTML = delivery_manager;
            document.getElementById('project_details').innerHTML = project_details;
            document.getElementById('developed_details').innerHTML = developed_details;
            var sourceControlDetails = `Type: ${finalData.source_control[0].type}<br>Link:` + arrToLinkList(finalData.source_control[0].links);
            document.getElementById('source_control_details').innerHTML = sourceControlDetails;
            document.getElementById('hosting_details').innerHTML = hosting_details;
            document.getElementById('database_details').innerHTML = database_details;
            document.getElementById('languages_details').innerHTML = languages_details;
            document.getElementById('framework_details').innerHTML = frameworks_details;
            document.getElementById('integration_details').innerHTML = integrations_details;
            document.getElementById('infrastructure_details').innerHTML = infrastructure_details;
        
            document.getElementById('user').value = JSON.stringify(finalData.user);
            document.getElementById('project').value = JSON.stringify(finalData.details);
            document.getElementById('developed').value = JSON.stringify(finalData.developed);
            document.getElementById('source_control').value = JSON.stringify(finalData.source_control);
            var hostingData = {
                "type": [finalData.architecture.hosting.type],
                "details": finalData.architecture.hosting.others
            };
            document.getElementById('hosting').value = JSON.stringify(hostingData);
            document.getElementById('database').value = JSON.stringify(finalData.architecture.database);
            document.getElementById('languages').value = JSON.stringify(finalData.architecture.languages);
            document.getElementById('frameworks').value = JSON.stringify(finalData.architecture.frameworks);
            document.getElementById('integrations').value = JSON.stringify(finalData.architecture.integrations);
            document.getElementById('infrastructure').value = JSON.stringify(finalData.architecture.infrastructure);

            console.log(JSON.stringify(finalData.user));
        }
        load_data();
</script>


{% endblock %}

      {% block scripts %}

        <style>
          body {
            height: auto;
          }
        </style>

      {% endblock %}
    