{% extends "layout/_template.njk" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/list/_macro.njk" import onsList %}{% from "components/summary/_macro.njk" import onsSummary %}

{%
    set pageConfig = {
        "header": {
            "title": project.details[0].name,
            "signoutButton": {
                "text": "Save and sign out",
                "url": "/sign-out"
            }
        },
              "footer": {
          "OGLLink": {
              "pre": "All content is available under the", "link": "Open Government Licence v3.0",
              "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
              "post": ", except where otherwise stated"
          }
      }
    }
%}

{% set project_details = 'Project Name: ' + project.details[0].name + '<br>' + 'Short Name: ' + project.details[0].short_name + '<br>' + 'Documentation Link: ' + project.details[0].documentation_link[0] + '<br>' + 'Project Description: ' + project.details[0].project_description + '' %}
{% block main %}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{{
    onsBreadcrumbs({
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
                {
                    "url": '/dashboard',
                    "text": 'Back'
                }
            ]
    })
}}

{% set langs = [] %}

    {{ onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "placeholderText": 'test',
                        "id": "summary",
                        "groupTitle": "Summary",
                        "rows": [
                            {
                                "id": "technical_contact_row",
                                "rowTitle": "Technical Contact",
                                "rowItems": [
                                    {
                                        "id": "sales-dates",
                                        "valueList": [
                                            {
                                                "text": project.user[0].email + ' (' + project.user[0].grade + ')'
                                            }
                                        ],
                                    }
                                ]
                            },
                            {
                                "id": "sales-dates-row",
                                "rowTitle": "Delivery Manager Contact",
                                "rowItems": [
                                    {
                                        "id": "sales-dates",
                                        "valueList": [
                                            {
                                                "text": project.user[1].email + ' (' + project.user[1].grade + ')'
                                            },
                                        ],
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Project",
                                "id": "sales-value-row",
                                "rowItems": [
                                    {
                                        "id": "sales-value",
                                        "valueList": [
                                            {
                                                "text": project_details
                                            }
                                        ],
                                    }
                                ]
                            },
                            {
                                "id": "sales-reasons-row",
                                "rowTitle": "Developed",
                                "rowItems": [
                                    {
                                        "id": "developed",
                                        "valueList": [
                                            {
                                                "text": project.developed[0]
                                            },
                                            {
                                                "text": project.developed[1] | join(', ')
                                            }
                                        ],
                                    }
                                ]
                            },
                            {
                                "id": "sales-reasons-row",
                                "rowTitle": "Source Control",
                                "rowItems": [
                                    {
                                        "id": "temp",
                                        "valueList": [
                                            {
                                                "text": project.source_control[0].type
                                            },
                                            {
                                                "text": project.source_control[0].links[0].description | string + ': ' + project.source_control[0].links[0].url
                                            }
                                        ],
                                    }
                                ]
                            },
                            {
                                "id": "sales-reasons-row",
                                "rowTitle": "Hosting",
                                "rowItems": [
                                    {
                                        "id": "architecture-hosting",
                                        "valueList": [
                                            {
                                                "text": project.architecture.hosting.type[0]
                                            },
                                            {
                                                "text": project.architecture.hosting.details| join(', ')
                                            }
                                        ],
                                    }
                                ]
                            },
                            {
                                "id": "sales-reasons-row",
                                "rowTitle": "Database",
                                "rowItems": [
                                    {
                                        "id": "database",
                                        "valueList": [
                                            {
                                                "text": project.architecture.database.others| join(', ')
                                            },
                                        ]
                                    }
                                ]
                            },
                          {
                                "id": "sales-reasons-row",
                                "rowTitle": "Frameworks",
                                "rowItems": [
                                    {
                                        "id": "frameworks",
                                        "valueList": [
                                            {
                                                "text": project.architecture.frameworks.others | join(', ')
                                            }
                                        ]
                                    }
                                ]
                            },
                        {
                                "id": "sales-reasons-row",
                                "rowTitle": "Languages",
                                "rowItems": [
                                    {
                                        "id": "languages",
                                        "valueList": [
                                            {
                                                "text": project.architecture.languages.others | join(', ')
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "sales-reasons-row",
                                "rowTitle": "CI/CD",
                                "rowItems": [
                                    {
                                        "id": "cicd",
                                        "valueList": [
                                            {
                                                "text": project.architecture.CICD.others | join(', ')
                                            }
                                        ]
                                    }
                                ]
                            },
                      {
                                "id": "sales-reasons-row",
                                "rowTitle": "Infrastructure",
                                "rowItems": [
                                    {
                                        "id": "infrastructure",
                                        "valueList": [
                                            {
                                                "text": project.architecture.infrastructure.others | join(', ')
                                            }
                                        ]
                                    }
                                ]
                            },
                        ]
                    }
                ]
            }
        ]
    }) }}
{% endblock %}

<script>
    document.getElementById("project_details").innerHTML = 'hi';
</script>
